<div class="container">
  <div class="product-management">
    <h2>Manage Products</h2>
    <!-- Add Product Form -->
    <form (ngSubmit)="addProduct()" #productForm="ngForm">
      <div class="form-group">
        <label for="name">Name:</label>
        <input
          type="text"
          id="name"
          [(ngModel)]="newProduct.name"
          name="name"
          required
        />
      </div>

      <div class="form-group">
        <label for="price">Price:</label>
        <input
          type="number"
          id="price"
          [(ngModel)]="newProduct.price"
          name="price"
          required
        />
      </div>

      <div class="form-group">
        <label for="stock">Stock Quantity:</label>
        <input
          type="number"
          id="stock"
          [(ngModel)]="newProduct.stock"
          name="stock"
          required
        />
      </div>

      <div class="form-group">
        <label for="description">Description:</label>
        <textarea
          id="description"
          [(ngModel)]="newProduct.description"
          name="description"
        ></textarea>
      </div>

      <div class="form-group">
        <label for="image">Upload Image:</label>
        <input type="file" id="image" (change)="handleImageChange($event)" />
      </div>

      <div class="form-group">
        <label for="featured">Featured:</label>
        <input
          type="checkbox"
          id="featured"
          [(ngModel)]="newProduct.featured"
          name="featured"
        />
      </div>

      <button type="submit">Add Product</button>
    </form>

    <hr />

    <!-- Product List -->
    <table>
      <thead>
        <tr>
          <th>Image</th>
          <th>Name</th>
          <th>Price</th>
          <th>Description</th>
          <th>Stock</th>
          <th>Featured</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products; let i = index">
          <td><img [src]="product.image" alt="Product Image" width="50" /></td>
          <td>{{ product.name }}</td>
          <td>{{ product.price }}</td>
          <td>{{ product.description }}</td>
          <td>{{ product.stock }}</td>
          <td>{{ product.featured ? "Yes" : "No" }}</td>
          <td>
            <button (click)="editProduct(product)">Edit</button>
            <button (click)="deleteProduct(product.productId)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
    <hr />
    <!-- Edit Product Modal -->
    <div *ngIf="isEditing">
      <h2>Edit Product</h2>
      <form (ngSubmit)="updateProduct()" #editForm="ngForm">
        <div class="form-group">
          <label for="editName">Name:</label>
          <input
            type="text"
            id="editName"
            [(ngModel)]="editedProduct.name"
            name="editName"
            required
          />
        </div>

        <div class="form-group">
          <label for="editPrice">Price:</label>
          <input
            type="number"
            id="editPrice"
            [(ngModel)]="editedProduct.price"
            name="editPrice"
            required
          />
        </div>

        <div class="form-group">
          <label for="editDescription">Description:</label>
          <textarea
            id="editDescription"
            [(ngModel)]="editedProduct.description"
            name="editDescription"
          ></textarea>
        </div>

        <div class="form-group">
          <label for="editImage">Change Image:</label>
          <input
            type="file"
            id="editImage"
            (change)="handleImageChange($event, true)"
          />
        </div>

        <div class="form-group">
          <label for="editStock">Stock Quantity:</label>
          <input
            type="number"
            id="editStock"
            [(ngModel)]="editedProduct.stock"
            name="editStock"
            required
          />
        </div>

        <div class="form-group">
          <label for="editFeatured">Featured:</label>
          <input
            type="checkbox"
            id="editFeatured"
            [(ngModel)]="editedProduct.featured"
            name="editFeatured"
          />
        </div>
        <div class="form-group">
          <button type="submit">Update</button>
          <button type="button" (click)="cancelEdit()">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>
