header {
  background-color: #f8f9fa;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 5vh;
  nav {
    display: flex;
    justify-content: space-between;
    .logo h1 {
      margin: 0;
      font-size: 24px;
      a {
        text-decoration: none;
        color: #333;
      }
    }
    ul {
      list-style: none;
      display: flex;
      gap: 15px;
      margin: 0;
      padding: 0;
      li {
        display: inline;
        a {
          text-decoration: none;
          color: #333;
          font-weight: bold;
          cursor: pointer;
          transition: color 0.3s;
          &:hover {
            color: #007bff;
          }
        }
      }
      #cart {
        position: relative;
        #cart-count {
          position: absolute;
          width: 20px;
          height: 20px;
          background-color: #007bffa3;
          border-radius: 50%;
          color: #f8f9fa;
          top: -10px;
          right: -5px;
          font-size: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}
